<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brian's Coders</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1> Brian's Coding Minions </h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/study">Study</a>
   <a href="/chat">Chat</a>
    <a href="/memes">Memes</a>
    <a href="/networking">Networking</a>


 <button id="logout" class="btn-no-style">Logout</button>

</nav>

<img src="../../public/images/screen_shot_2023-04-17_at_11.12.16_am_360.png"> 

<p> Welcome to our class bootcamp hub! Let's stay connected.</p>

{{#if loggedIn}}
  <main>
    <div class="container">
    {{{body}}}
    </div>
  </main>
  {{/if}}
  <footer>
    <p> &copy; 2023 Brian's Coding Minion's </p>
  </footer>
  <script src="/js/logout.js"></script>

</body>

</html>