<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Mono&family=Pathway+Extreme:ital,wght@1,100&display=swap"
    rel="stylesheet">
  <title>Bryan's Coders</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="area">

    <div class="home-page">
      <header>
        <h1> 👓 Bryan's Coding Minions 👓 </h1>
      </header>
      <nav>
        <a href="/">Home</a>
        <a href="/chat">Chat</a>
        <a href="/networking">Networking</a>
        <a href="/study">Study</a>
        <a href="/memes">Funny Memes</a>
        {{#if logged_in}}
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>

      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

    </div>
    <main>
      <div>
        {{{body}}}
    </main>
  </div>



  <footer>
    <p> &copy; 2023 Bryan's Coding Minions </p>
  </footer>

  {{!-- {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}} --}}

  <script>
    const logout = async () => {
      const response = await fetch('/api/user/logout', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
      });

      if (response.ok) {
        document.location.replace('/');
      } else {
        alert('Failed to log out.');
      }
    };

    document.querySelector('#logout').addEventListener('click', logout);


  </script>

</body>

</html>