 
 <div class="imgandheader">
        <img class="hero" src="./images/Bryan.png">
        <div class="intro">
          <h2>----- Welcome to Bryan's Coding Minions!----- </h2>
          <p> This is a place for coders to come together and share resources, study tips, and network with each other.
          </p>
        </div>
        <img class="hero" src="./images/Bryan.png">

      </div>