    <div class="wrapper">
      <div class="title">Login Form</div>
      <form action="#">
        <div class="field">
          <input type="text" required>
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" required>
          <label>Password</label>
        </div>
        <div class="content">
        <div class="field">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
    <div class="wrapper">
      <div class="title"> Signup </div>
      <form action="#">
        <div class="field">
          <input type="text" required>
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" required>
          <label>Password</label>
        </div>
        <div class="content">
        <div class="field">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>

    <script src="/public/js/login.js"></script>