    <div class="wrapper">
      <div class="title">Login Form</div>
      <form class="form login-form" action="#">
        <div class="field">
          <input type="text" required>
          <label>Email Address</label>
        </div>
        <div class="field">
          <input type="password" required>
          <label>Password</label>
        </div>
        <div class="content">
        <div class="field">
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
    <div class="wrapper">
      <div class="title"> Signup </div>
      <form class="form signup-form" action="#">
         <div class="field">
          <input class="form-input" type="text" id="username-signup" />
          <label for="username-signup">Username:</label>
        </div>
        <div class="field">
          <input class="form-input" type="text" id="email-signup" />
          <label for="email-signup">Email Address:</label>
        </div>
        <div class="field">
          <input class="form-input" type="password" id="password-signup" />
          <label>Password:</label>
        </div>
        <div class="content">
        <div class="field">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>

    <script src="/public/js/login.js"></script>