{{!-- {{#if loggedIn}} --}}

<h2> Study Tips/ Resources</h2>

{{#each study as |studyTip|}}
<div>
  <h3>{{studyTip.tip}}</h3>
<a href="{{studyTip.link}}">{{studyTip.link}}</a>
</div>
{{/each}}



<form action="/study" method="POST">
    <label for="tip">Study Tip:</label>
    <input type="text" id="study_tip" name="study_tip">
    <button type="submit"> Post Study Tip </button>
  </form>


{{!-- {{else}}

  <a href="/login">You must login first to view this page</a>
{{/if}} --}}


<script src="./js/study.js"></script>


